<section class="certificate">
    <div class="certificate__text">
        <span>Createx Certificate</span>
        <h1>Your expertise will be confirmed</h1>
        <p>
            We are accredited by international professional organizations
            and institutes:
        </p>
        <div class="certificate__logo">
            <img
                src="@img/home-page/certificate/logo.png"
                alt="DelMar Strategy"
            />
            <img
                src="@img/home-page/certificate/logo-1.png"
                alt="Sentinal Consalting"
            />
            <img
                src="@img/home-page/certificate/logo-2.png"
                alt="National"
            />
        </div>
    </div>
    <div class="certificate__img">
        <img
            src="@img/home-page/certificate/certificate.png"
            alt="certificate-img"
        />
    </div>
</section>