<section class="down-footer">
    <div class="down-footer__content">
        <div class="down-footer__column text-create">
            <section class="text-links">
                <a href="index.html"
                    ><img
                        src="@img/home-page/footer/logo.svg"
                        alt="CreateX"
                /></a>
                <p>
                    Createx Online School is a leader in online studying.
                    We have lots of courses and programs from the main
                    market experts. We provide relevant approaches to online
                    learning, internships and employment in the largest
                    companies in the country.
                </p>
            </section>
            <div class="row-links">
                <a href="#" class="_icon-facebook"></a>
                <a href="#" class="_icon-twitter"></a>
                <a href="#" class="_icon-telegram"></a>
                <a href="#" class="_icon-instagram"></a>
                <a href="#" class="_icon-linkedin"></a>
            </div>
        </div>
        <div class="down-footer__about">
            <div class="down-footer__column">
                <ul class="down-footer__ul">
                    <li class="header-li header-h">SITE MAP</li>
                    <section class="list-adapt">
                        <li><a href="#">About Us</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </section>
                </ul>
            </div>
            <div class="down-footer__column">
                <ul class="down-footer__ul">
                    <li class="header-li header-h">COURSES</li>
                    <section class="list-adapt">
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Management</a></li>
                        <li><a href="#">HR & Recruting</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Development</a></li>
                    </section>
                </ul>
            </div>
            <div class="down-footer__column">
                <ul class="down-footer__ul">
                    <li class="header-li">CONTACT US</li>
                    <li><a href="tel:4055550128">(405) 555-0128</a></li>
                    <li>
                        <a href="#" class="_icon-mail">hello@createx.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="down-footer__email">
            <h1>SIGN UP TO OUR NEWSLETTER</h1>
            <section class="email-content">
                <div class="emailbtn">
                    <input
                        autocomplete="off"
                        type="text"
                        name="form[]"
                        data-error="Ошибка"
                        placeholder="Email adress"
                        class="input input-btn"
                    />
                    <button class="_icon-arrow-right"></button>
                </div>
            </section>
            <p>
                *Subscribe to our newsletter to receive communications and</br>
                early updates from Createx SEO Agency.
            </p>
        </div>
    </div>
</section>