<section class="reviews">
    <div class="reviews__header">
        <span>TESTIMONIALS</span>
        <h1>What our students say</h1>
    </div>
    <div class="reviews__buttons">
    </div>
    <div class="reviews__carousel-block">
        <div class="reviews__left-button" data-da=".reviews__buttons, 530">
            <button class="row row-left row-left-carousel">
                <img src="@img/home-page/arrow.svg" alt="arrow-left" />
            </button>
        </div>
        <div class="reviews__carousel">
            <div class="reviews__carousel-main">
                <div class="reviews__item">
                    <div class="item-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Justo, amet lectus quam viverra mus lobortis
                            fermentum amet, eu. Pulvinar eu sed purus facilisi.
                            Vitae id turpis tempus ornare turpis quis non.
                            Congue tortor in euismod vulputate etiam eros.
                            Pulvinar neque pharetra arcu diam maecenas diam
                            integer in.
                        </p>
                        <div class="reviews__author">
                            <picture
                                ><img
                                    src="@img/home-page/author.png"
                                    alt="img-author"
                            /></picture>
                            <div class="author-name">
                                <h1>Eleanor Pena</h1>
                                <span>Position, Course</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="item-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Justo, amet lectus quam viverra mus lobortis
                            fermentum amet, eu. Pulvinar eu sed purus facilisi.
                            Vitae id turpis tempus ornare turpis quis non.
                            Congue tortor in euismod vulputate etiam eros.
                            Pulvinar neque pharetra arcu diam maecenas diam
                            integer in.
                        </p>
                        <div class="reviews__author">
                            <picture
                                ><img
                                    src="@img/home-page/author.png"
                                    alt="img-author"
                            /></picture>
                            <div class="author-name">
                                <h1>Eleanor Pena</h1>
                                <span>Position, Course</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="item-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Justo, amet lectus quam viverra mus lobortis
                            fermentum amet, eu. Pulvinar eu sed purus facilisi.
                            Vitae id turpis tempus ornare turpis quis non.
                            Congue tortor in euismod vulputate etiam eros.
                            Pulvinar neque pharetra arcu diam maecenas diam
                            integer in.
                        </p>
                        <div class="reviews__author">
                            <picture
                                ><img
                                    src="@img/home-page/author.png"
                                    alt="img-author"
                            /></picture>
                            <div class="author-name">
                                <h1>Eleanor Pena</h1>
                                <span>Position, Course</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="item-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Justo, amet lectus quam viverra mus lobortis
                            fermentum amet, eu. Pulvinar eu sed purus facilisi.
                            Vitae id turpis tempus ornare turpis quis non.
                            Congue tortor in euismod vulputate etiam eros.
                            Pulvinar neque pharetra arcu diam maecenas diam
                            integer in.
                        </p>
                        <div class="reviews__author">
                            <picture
                                ><img
                                    src="@img/home-page/author.png"
                                    alt="img-author"
                            /></picture>
                            <div class="author-name">
                                <h1>Eleanor Pena</h1>
                                <span>Position, Course</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="item-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Justo, amet lectus quam viverra mus lobortis
                            fermentum amet, eu. Pulvinar eu sed purus facilisi.
                            Vitae id turpis tempus ornare turpis quis non.
                            Congue tortor in euismod vulputate etiam eros.
                            Pulvinar neque pharetra arcu diam maecenas diam
                            integer in.
                        </p>
                        <div class="reviews__author">
                            <picture
                                ><img
                                    src="@img/home-page/author.png"
                                    alt="img-author"
                            /></picture>
                            <div class="author-name">
                                <h1>Eleanor Pena</h1>
                                <span>Position, Course</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__right-button" data-da=".reviews__buttons, 530">
            <button class="row row-right row-right-carousel">
                <img
                    style="transform: rotate(180deg)"
                    src="@img/home-page/arrow.svg"
                    alt="arrow-right"
                />
            </button>
        </div>
    </div>
</section>