<section class="upper-footer">
        <div class="upper__email">
            <section class="upper__header">
                <p>Don't miss anything</p>
                <h1>Subscribe to the Createx School announcements</h1>
            </section>
            <section class="down__header">
                <input
                    autocomplete="off"
                    type="text"
                    name="form[]"
                    data-error="Ошибка"
                    placeholder="Your working email"
                    class="input"
                />
                <button class="button">Subscribe</button>
            </section>
        </div>
        <a href="#" class="down__cogntatulations down__left-icon"
            ><img
                src="@img/home-page/footer/hands.svg"
                alt="hands-congratulations"
        /></a>
        <a href="#" class="down__cogntatulations down__right-icon"
            ><img
                src="@img/home-page/footer/hands.svg"
                alt="hands-congratulations"
        /></a>
    </section>